<h1>New Product</h1>
<form action="/products" method="POST">
    <input type="text" name="name" id="name">
    <input type="text" name="description" id="description">
    <input type="text" name="category" id="category">
    <input type="number" name="price" id="name">
    <button>Submit</button>
</form>